
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    background:#ffffffb4;
    backdrop-filter: blur(10px);
}

nav{
    height: 100%;
    width: 50%;
    margin: 0 10% 0 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 15px;
}

.iconav{
    height: 22px;
    width: 22px;
    transition: 0.5s;
 
}

.iconavig{
    height: 21px;
    width: 21px;
    transition: 0.4s;
    
}

.iconav:hover{

    transform: rotate(20deg) scale(1.5);


}

.iconavig:hover{
 
    transform: rotate(20deg) scale(1.4);


}

.logoN{
    font-size: 30px;
    color: #000000;
    font-family: 'Major Mono Display', monospace;
}



.iconos{
    height: 100%;
    width: 50%;
    margin: 0 0 0 10%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.linea{
    color: #000000;
}




/* ----------------------------INICIO--------------------------------------- */

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.incont{
    width: 1000px;
    height: 500px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inicio{
    width: 100%;
    height: 300px;
    background: #ffffff;

}

.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name{
    font-size: 70px;
    font-weight: 400;
    margin: 0 0 -25px 0;
}


.qsoy{
    font-size: 55px;
    font-weight: 100;
    color: #000000;
    margin: 0 0;
}

.de{
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 200;
    padding: 0 130px 0 0;
    color: rgb(0, 0, 0);

}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    color: white;
    background: #000000;
    transition: 1s;
    font-size: 14px;
    font-weight: 300;
    border-radius: 30px;
    
}

.btn:hover{
    color: #000000;
    backdrop-filter: blur(10px);
    background: #ffffff00;
    border: 1px solid #000000;
    
}
.botones{
    display: flex;
    gap: 25px;
    
}



/* ----------------------------ABOUT ME--------------------------------------- */

.quien_soy{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url(../img/Fondos/nathan-watson-1zgXullQ8IM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titab{
    background: #000000;
    border: solid 1px rgb(0, 0, 0);
    color: rgb(182, 182, 182);
    font-size: 20px;
    font-weight: 200;
    padding: 10px 20px;
    transition: 1s;
}

.titab:hover{
    background: #00000000;
    color: rgb(182, 182, 182);
    border: solid 1px rgb(182, 182, 182);
}


.qsc{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000003f;
    height: 80%;
    width: 80%;
    transition: 0.8s;
    pointer-events: all;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
}

.qsc:hover{
    cursor: pointer;
}

.img{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgp{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.quienst{
    height: 100%;
    width: 50%;
    
}

.quienstx{
   
    float: left;
    padding: 100px 100px 100px 0;
    color: rgb(182, 182, 182);
    font-size: 18px;
    font-weight: 300;
}


/* ----------------------------PROYECTOS--------------------------------------- */

.procont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;  
    margin: 0 0 100px 0;
}

.titcont{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tit{
    font-size: 30px;
    font-weight: 200;
}

.proycont{
    background: #ffffff;
    width: 80%;
    height: 100%;
}

.pro{
    
    width: 100%;
    min-height:69%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "caja1 caja1 caja1 caja1 caja2 caja2 caja2" 
    "caja1 caja1 caja1 caja1 caja2 caja2 caja2"
    "caja1 caja1 caja1 caja1 caja2 caja2 caja2" 
    "caja3 caja3 caja3 caja4 caja4 caja4 caja4"  
    "caja3 caja3 caja3 caja4 caja4 caja4 caja4" 
    ;
    gap: 10px;
   
}

.ca{
  
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.ca:hover{

    background-size:auto;
    background-repeat: no-repeat;
}

.caja1{
   
    background-image: url(../img/Fondos/maxim-berg-WzW0_I9PpH4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: caja1;
}

.caja2{
    background-image: url(../img/Fondos/brecht-corbeel-jI8oW1wJ03Q-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: caja2;
}

.caja3{
    background-image: url(../img/Fondos/daniels-joffe--SmCKTIcH5E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: caja3;
}

.caja4{
    background-image: url(../img/Fondos/brecht-corbeel-8TttTCQLUKw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: caja4;
}


/* ----------------------------HABILIDADES--------------------------------------- */

.habi{
    width: 100%;
    height: 350px;
    background-image: url(../img/Fondos/nathan-watson-1zgXullQ8IM-unsplash.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 80px 0;
}

.habicontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000003f;
    height: 80%;
    width: 80%;
    transition: 0.8s;
    pointer-events: all;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.habitit{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.habilen{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.habititp{
    font-weight: 200;
    font-size: 20px;
    padding: 10px 20px;
    background: #000000;
    color: rgb(182, 182, 182);
    transition: 1s;
    
}

.habititp:hover{
    border: solid 1px rgb(182, 182, 182);
    background: #00000000;
    color: rgb(182, 182, 182);
    
}

.len{
    font-size: 20px;
    font-weight: 200;
    padding: 13px;
    color: rgb(182, 182, 182);
    transition: 1s;
}

.len:hover{

    transform: rotate(360deg) scale(1.2);
}

/* ----------------------------CONTACTO--------------------------------------- */

.contactocont{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.titulocont{
    background: #000000;
    width: 200px;
    height: 100px;
}

.formcont{
    width: 100%;
    
    display: flex;
    justify-content: center;
}

form{
 
    display: grid;
    justify-content: center;
    width: 80%;
    height: 30%;
    background: #ffffff;
}


input{
    width: 600px;
    height: 50px;
    margin: 10px 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.884);
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
}

textarea{
    margin: 0 0 20px 0;
    resize: none;
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.884);
    padding: 10px;
    font-weight: 300;
}

.concont{
    width: 38%;
    height: 200px;
    margin: 0 0 -200px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con{
    font-size: 30px;
    font-weight: 200;
}

/* ----------------------------FOOTER--------------------------------------- */

footer{
    width: 100%;
    min-height: 300px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.primfo{
    height: 250px;
    width: 33.33%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copy{
    font-size: 15px;
    color: white;
    margin: 20px 36px 20px 0;
    font-weight: 200;
}
.loofoo{
    color: #000000;
    font-size: 60px;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    background-image: url(../img/Fondos/milad-fakurian-tGTa40GKSRI-unsplash.jpg);
    background-size: cover;
    padding: 20px 10px;
    margin: 32px 35px -30px 0;
    cursor: pointer;
}

.segfo{
    height: 250px;
    width: 33.33%;
    background: #000000;
}

.secciones{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}

.titfo{
    color: #921f62;
    font-size: 20px;
    font-weight: 300;
    transition: 1s;
}


.sec{
    font-weight: 200;
    color: white;
    transition: 1s;
}

.sec:hover{
    transform: rotate(20deg) scale(1.2);
    
}

.terfo{
    height: 250px;
    width: 33.33%;
    background: #000000;
}

.cuafo{
    height: 50px;
    width: 100%;
    background: #000000;
    line-height: 50px;
    font-size: 16px;
    text-align: left;
    padding: 0 0 0 120px;
    color: white;
}

.ig{
    font-weight: 400;
    color: white;
}

@media (max-width:760px){
    

    .container{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .incont{
        width: 100%;
        height: 100%;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .inicio{
      
        width: 100%;
        height: 100%;
        background: #ffffff;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    
    .name{
        padding: 0 5px;
        font-size: 40px;
        font-weight: 400;
        margin: 0 0 -14px 0;
    }
    
    
    .qsoy{
        padding: 0 5px;
        font-size: 35px;
        font-weight: 100;
        color: #000000;
        margin: 0 0;
        color: #921f62;
    }
    
    .parins{
        width: 100%;
        display: flex;
        justify-content: center;
  
    }

    .de{
        padding: 0 40px;
        font-size: 14px;
        font-weight: 200;
        color: rgb(0, 0, 0);
       
    }
    
    .btn{

         color: #000000;
         backdrop-filter: blur(10px);
         background: #ffffff00;
         border: 1px solid #000000;
         
    }
    
    .btn:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 40px;
        color: white;
        background: #000000;
        transition: 1s;
        font-size: 14px;
        font-weight: 300;
        border-radius: 30px;
    }

    .botones{
        display: flex;
        justify-content: center;
        gap: 25px;  
    }

    /* ----------------------------HABILIDADES--------------------------------------- */

.habi{
    width: 100%;
    height: 350px;
    background-image: url(../img/Fondos/nathan-watson-1zgXullQ8IM-unsplash.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 80px 0;
    overflow: hidden;
}

.habicontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000003f;
    height: 90%;
    width: 90%;
    transition: 0.8s;
    pointer-events: all;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.habitit{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.habilen{
    width: 50%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;

}

.habititp{
 
    border: solid 1px rgb(182, 182, 182);
    background: #00000000;
    color: rgb(182, 182, 182);
    transition: 1s;
    
}

.habititp:hover{
  
    font-weight: 200;
    font-size: 10px;
    padding: 10px 20px;
    background: #000000;
    color: rgb(182, 182, 182);
}

.len{
    font-size: 10px;
    font-weight: 300;
    padding: 5px;
    background: #000000;
    color: rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    transition: 1s;
}

.len:hover{

    transform: rotate(360deg) scale(1.2);
}



/* ----------------------------CONTACTO--------------------------------------- */

.contactocont{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

footer{
    overflow: hidden;
}


}